.logo img {
  height: auto;
  margin: 30px 30px;
}

.card-2 {
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
}

.card-2 img {
  padding-top: px;
  height: 10rem;
  margin: 30px 0px 30px 0px;
  transition: all linear 0.25s;
}

.profile-card-2 .profile-name {
  position: absolute;
  left: 30px;
  bottom: 70px;
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.25s;
}

.card-2:hover img {
  filter: grayscale(100%);
}

.card-2:hover p {
  bottom: 20px;
}

.font-color {
  color: black;
  position: relative;
  font-size: 25px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.1s;
}
.colortext {
  color: black;
  font-size: 20px;
  font-weight: inherit;
}

.cardimg {
  max-height: 100%;
  max-width: 100%;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.background {
  background-color: #cab9ad;
}

.status img {
  text-align: center;
  margin-top: 3rem;
}

.font-status {
  color: #212121;
  position: relative;
  font-size: 25px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.h4 {
  font-family: "Flexo-Medium", arial, sans-serif;
  color: #212121;
  margin-top: 1.25em;
  text-transform: none;
  font-size: 10%;
}

.infor-status {
  margin-top: 10px;
  border-radius: 10px;
  height: 270px;
  background-color: #30a7d7;
}

.atributos {
  font-family: "Flexo-Medium", arial, sans-serif;
  clear: both;
  color: #212121;
  float: left;
  font-size: 100%;
  margin: 1.25rem 0 0 0;
  text-transform: none;
  white-space: normal;
  word-break: break-word;
}

.valor-atri {
  font-family: "Flexo-Medium", arial, sans-serif;
  clear: both;
  color: #fff;
  float: left;
  font-size: 120%;
  margin: 0.75em 1.5em 0 1em;
  white-space: normal;
  word-break: break-word;
}

.teste ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.teste2 ul li {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.naUL {
  font-family: "Flexo-Medium", arial, sans-serif;
  clear: both;
  color: #fff;
  font-size: 120%;
  border-radius: 5px;
  text-align: center;
  margin: 1.25rem 0 0 0;
  width: 30%;
}

.infor-status2 {
  margin-top: 10px;
  border-radius: 10px;
  height: 270px;
  width: 30%;
  background-color: #30a7d7;
}
.pokemoninfo {
  display: flex;
  flex-wrap: wrap;
}

.pokemoninfo div {
  margin: 10px;
}
.pokemoninfo > .tabelaStats {
  margin-left: -10px;
}

.tabelaStats {
  background-color: #f8f8ff;
  border-radius: 0 10px 10px 0;
  height: 190px;
  width: 30%;
}

.tabelaStats > h5 {
  text-align: left;
}

.tabelastatus2 {
  display: flex;
  text-align: left;
}

.tabelaStats p {
  text-align: left;
  /* align-items: center; */
  margin-top: 3px;
  margin-left: 20px;
}
.tabelaStats div {
  height: 0.9rem;
}

.tabelaStats2 {
  background-color: #f8f8ff;
  border-radius: 10px 0 0 10px;
  height: 190px;
  width: 15%;
}

.tabelaStats2 p {
  text-align: left;
  /* align-items: center; */
  margin-top: 3px;
  margin-left: 20px;
  height: 0.6rem;
}

.tabelaStats2 div {
  margin: 33px auto;
}
